/* http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


*/ body {
    /* Default font-size */
    font-size: 1.6rem;
    padding: 0;
    margin: 0;

    /* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#cities,
#countries,
#places {
    border: 1px solid #ccc;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
    max-width: 400px;
    min-width: 25%;
    padding: 10px;
    text-align: center;
}

/* .city,
.country,
.place {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    margin: 20px 0;
    padding: 20px;
} */

.location {
    /* border: 1px solid #ccc; */
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
    max-width: 400px;
    min-width: 25%;
    padding: 10px;
    text-align: center;
}

a:link.location,
a:visited.location,
a:active.location,
a:hover.location {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
    border: 1px solid #eeeeee;
    margin: 5px;
    min-width: 25%;
    max-width: 200px;
    text-align: center;
}

a:hover.location {
    background-color: rgb(208, 246, 253);
}




section#main {
    /* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;

    text-align: center;
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding-bottom: 50px;
}

header {
    text-align: center;
    margin-top: 20px;
}

html {
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    font-size: 80%;

    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: "Helvetica", sans-serif;
}

table {
    text-align: left;
}

#logo {
    width: 362px;
}

.form {
    padding: 15px;
    margin: 15px 0;
    background-color: #e3e2ef;
    border-radius: 20px;
}


/*----------------------------------------------------
Forms
-----------------------------------------------------*/


input[type=text],
input[type=email],
input[type=password],
textarea,
select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 3px;
    font-family: "Helvetica", sans-serif;
    border: 1px solid #ccc;
}

input[type='checkbox'] {
    display: inline;
}


label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
}

.error {
    list-style-type: none;
    margin-top: 10px;
}

.globalFormError {
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}




/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav li,
nav button {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover,
nav ul li button:hover {
    color: #18bc9c;
}

.button-link {
    background: none;
    border: none;
    padding: 0;
    color: #0d6efd;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}

/*----------------------------------------------------
Misc
-----------------------------------------------------*/

.flash-alert {
    background-color: rgb(241, 214, 41);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}